
// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico_banner_interview_latte-name: 'ico_banner_interview_latte';
$ico_banner_interview_latte-x: 0px;
$ico_banner_interview_latte-y: 0px;
$ico_banner_interview_latte-offset-x: 0px/2;
$ico_banner_interview_latte-offset-y: 0px/2;
$ico_banner_interview_latte-width: 520px/2;
$ico_banner_interview_latte-height: 520px/2;
$ico_banner_interview_latte-total-width: 888px/2;
$ico_banner_interview_latte-total-height: 760px/2;
$ico_banner_interview_latte-image: '~sp_common.png';
$ico_banner_interview_latte: (0px/2, 0px/2, 0px/2, 0px/2, 520px/2, 520px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_banner_interview_latte', );
$ico_banner_left-name: 'ico_banner_left';
$ico_banner_left-x: 144px;
$ico_banner_left-y: 520px;
$ico_banner_left-offset-x: -144px/2;
$ico_banner_left-offset-y: -520px/2;
$ico_banner_left-width: 128px/2;
$ico_banner_left-height: 128px/2;
$ico_banner_left-total-width: 888px/2;
$ico_banner_left-total-height: 760px/2;
$ico_banner_left-image: '~sp_common.png';
$ico_banner_left: (144px/2, 520px/2, -144px/2, -520px/2, 128px/2, 128px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_banner_left', );
$ico_banner_right-name: 'ico_banner_right';
$ico_banner_right-x: 272px;
$ico_banner_right-y: 520px;
$ico_banner_right-offset-x: -272px/2;
$ico_banner_right-offset-y: -520px/2;
$ico_banner_right-width: 128px/2;
$ico_banner_right-height: 128px/2;
$ico_banner_right-total-width: 888px/2;
$ico_banner_right-total-height: 760px/2;
$ico_banner_right-image: '~sp_common.png';
$ico_banner_right: (272px/2, 520px/2, -272px/2, -520px/2, 128px/2, 128px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_banner_right', );
$ico_filter_up-name: 'ico_filter_up';
$ico_filter_up-x: 192px;
$ico_filter_up-y: 664px;
$ico_filter_up-offset-x: -192px/2;
$ico_filter_up-offset-y: -664px/2;
$ico_filter_up-width: 64px/2;
$ico_filter_up-height: 64px/2;
$ico_filter_up-total-width: 888px/2;
$ico_filter_up-total-height: 760px/2;
$ico_filter_up-image: '~sp_common.png';
$ico_filter_up: (192px/2, 664px/2, -192px/2, -664px/2, 64px/2, 64px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_filter_up', );
$ico_header_close-name: 'ico_header_close';
$ico_header_close-x: 400px;
$ico_header_close-y: 520px;
$ico_header_close-offset-x: -400px/2;
$ico_header_close-offset-y: -520px/2;
$ico_header_close-width: 120px/2;
$ico_header_close-height: 120px/2;
$ico_header_close-total-width: 888px/2;
$ico_header_close-total-height: 760px/2;
$ico_header_close-image: '~sp_common.png';
$ico_header_close: (400px/2, 520px/2, -400px/2, -520px/2, 120px/2, 120px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_header_close', );
$ico_header_logo-name: 'ico_header_logo';
$ico_header_logo-x: 520px;
$ico_header_logo-y: 520px;
$ico_header_logo-offset-x: -520px/2;
$ico_header_logo-offset-y: -520px/2;
$ico_header_logo-width: 120px/2;
$ico_header_logo-height: 120px/2;
$ico_header_logo-total-width: 888px/2;
$ico_header_logo-total-height: 760px/2;
$ico_header_logo-image: '~sp_common.png';
$ico_header_logo: (520px/2, 520px/2, -520px/2, -520px/2, 120px/2, 120px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_header_logo', );
$ico_header_search-name: 'ico_header_search';
$ico_header_search-x: 256px;
$ico_header_search-y: 664px;
$ico_header_search-offset-x: -256px/2;
$ico_header_search-offset-y: -664px/2;
$ico_header_search-width: 64px/2;
$ico_header_search-height: 64px/2;
$ico_header_search-total-width: 888px/2;
$ico_header_search-total-height: 760px/2;
$ico_header_search-image: '~sp_common.png';
$ico_header_search: (256px/2, 664px/2, -256px/2, -664px/2, 64px/2, 64px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_header_search', );
$ico_interview_star-name: 'ico_interview_star';
$ico_interview_star-x: 520px;
$ico_interview_star-y: 0px;
$ico_interview_star-offset-x: -520px/2;
$ico_interview_star-offset-y: 0px/2;
$ico_interview_star-width: 368px/2;
$ico_interview_star-height: 500px/2;
$ico_interview_star-total-width: 888px/2;
$ico_interview_star-total-height: 760px/2;
$ico_interview_star-image: '~sp_common.png';
$ico_interview_star: (520px/2, 0px/2, -520px/2, 0px/2, 368px/2, 500px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_interview_star', );
$ico_modal_notice_item-name: 'ico_modal_notice_item';
$ico_modal_notice_item-x: 0px;
$ico_modal_notice_item-y: 520px;
$ico_modal_notice_item-offset-x: 0px/2;
$ico_modal_notice_item-offset-y: -520px/2;
$ico_modal_notice_item-width: 144px/2;
$ico_modal_notice_item-height: 144px/2;
$ico_modal_notice_item-total-width: 888px/2;
$ico_modal_notice_item-total-height: 760px/2;
$ico_modal_notice_item-image: '~sp_common.png';
$ico_modal_notice_item: (0px/2, 520px/2, 0px/2, -520px/2, 144px/2, 144px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_modal_notice_item', );
$ico_my_menu_arrow-name: 'ico_my_menu_arrow';
$ico_my_menu_arrow-x: 496px;
$ico_my_menu_arrow-y: 664px;
$ico_my_menu_arrow-offset-x: -496px/2;
$ico_my_menu_arrow-offset-y: -664px/2;
$ico_my_menu_arrow-width: 48px/2;
$ico_my_menu_arrow-height: 48px/2;
$ico_my_menu_arrow-total-width: 888px/2;
$ico_my_menu_arrow-total-height: 760px/2;
$ico_my_menu_arrow-image: '~sp_common.png';
$ico_my_menu_arrow: (496px/2, 664px/2, -496px/2, -664px/2, 48px/2, 48px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_my_menu_arrow', );
$ico_page_back-name: 'ico_page_back';
$ico_page_back-x: 760px;
$ico_page_back-y: 520px;
$ico_page_back-offset-x: -760px/2;
$ico_page_back-offset-y: -520px/2;
$ico_page_back-width: 96px/2;
$ico_page_back-height: 96px/2;
$ico_page_back-total-width: 888px/2;
$ico_page_back-total-height: 760px/2;
$ico_page_back-image: '~sp_common.png';
$ico_page_back: (760px/2, 520px/2, -760px/2, -520px/2, 96px/2, 96px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_page_back', );
$ico_page_next-name: 'ico_page_next';
$ico_page_next-x: 0px;
$ico_page_next-y: 664px;
$ico_page_next-offset-x: 0px/2;
$ico_page_next-offset-y: -664px/2;
$ico_page_next-width: 96px/2;
$ico_page_next-height: 96px/2;
$ico_page_next-total-width: 888px/2;
$ico_page_next-total-height: 760px/2;
$ico_page_next-image: '~sp_common.png';
$ico_page_next: (0px/2, 664px/2, 0px/2, -664px/2, 96px/2, 96px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_page_next', );
$ico_post_bookmark_on-name: 'ico_post_bookmark_on';
$ico_post_bookmark_on-x: 544px;
$ico_post_bookmark_on-y: 664px;
$ico_post_bookmark_on-offset-x: -544px/2;
$ico_post_bookmark_on-offset-y: -664px/2;
$ico_post_bookmark_on-width: 48px/2;
$ico_post_bookmark_on-height: 48px/2;
$ico_post_bookmark_on-total-width: 888px/2;
$ico_post_bookmark_on-total-height: 760px/2;
$ico_post_bookmark_on-image: '~sp_common.png';
$ico_post_bookmark_on: (544px/2, 664px/2, -544px/2, -664px/2, 48px/2, 48px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_post_bookmark_on', );
$ico_post_bookmark-name: 'ico_post_bookmark';
$ico_post_bookmark-x: 448px;
$ico_post_bookmark-y: 664px;
$ico_post_bookmark-offset-x: -448px/2;
$ico_post_bookmark-offset-y: -664px/2;
$ico_post_bookmark-width: 48px/2;
$ico_post_bookmark-height: 59px/2;
$ico_post_bookmark-total-width: 888px/2;
$ico_post_bookmark-total-height: 760px/2;
$ico_post_bookmark-image: '~sp_common.png';
$ico_post_bookmark: (448px/2, 664px/2, -448px/2, -664px/2, 48px/2, 59px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_post_bookmark', );
$ico_post_comment-name: 'ico_post_comment';
$ico_post_comment-x: 592px;
$ico_post_comment-y: 664px;
$ico_post_comment-offset-x: -592px/2;
$ico_post_comment-offset-y: -664px/2;
$ico_post_comment-width: 48px/2;
$ico_post_comment-height: 48px/2;
$ico_post_comment-total-width: 888px/2;
$ico_post_comment-total-height: 760px/2;
$ico_post_comment-image: '~sp_common.png';
$ico_post_comment: (592px/2, 664px/2, -592px/2, -664px/2, 48px/2, 48px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_post_comment', );
$ico_profile_edit-name: 'ico_profile_edit';
$ico_profile_edit-x: 640px;
$ico_profile_edit-y: 520px;
$ico_profile_edit-offset-x: -640px/2;
$ico_profile_edit-offset-y: -520px/2;
$ico_profile_edit-width: 120px/2;
$ico_profile_edit-height: 120px/2;
$ico_profile_edit-total-width: 888px/2;
$ico_profile_edit-total-height: 760px/2;
$ico_profile_edit-image: '~sp_common.png';
$ico_profile_edit: (640px/2, 520px/2, -640px/2, -520px/2, 120px/2, 120px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_profile_edit', );
$ico_with_code-name: 'ico_with_code';
$ico_with_code-x: 96px;
$ico_with_code-y: 664px;
$ico_with_code-offset-x: -96px/2;
$ico_with_code-offset-y: -664px/2;
$ico_with_code-width: 96px/2;
$ico_with_code-height: 96px/2;
$ico_with_code-total-width: 888px/2;
$ico_with_code-total-height: 760px/2;
$ico_with_code-image: '~sp_common.png';
$ico_with_code: (96px/2, 664px/2, -96px/2, -664px/2, 96px/2, 96px/2, 888px/2, 760px/2, '~sp_common.png', 'ico_with_code', );
$ico-banner-interview_like-name: 'ico-banner-interview_like';
$ico-banner-interview_like-x: 320px;
$ico-banner-interview_like-y: 664px;
$ico-banner-interview_like-offset-x: -320px/2;
$ico-banner-interview_like-offset-y: -664px/2;
$ico-banner-interview_like-width: 64px/2;
$ico-banner-interview_like-height: 64px/2;
$ico-banner-interview_like-total-width: 888px/2;
$ico-banner-interview_like-total-height: 760px/2;
$ico-banner-interview_like-image: '~sp_common.png';
$ico-banner-interview_like: (320px/2, 664px/2, -320px/2, -664px/2, 64px/2, 64px/2, 888px/2, 760px/2, '~sp_common.png', 'ico-banner-interview_like', );
$ico-banner-interview-book-name: 'ico-banner-interview-book';
$ico-banner-interview-book-x: 384px;
$ico-banner-interview-book-y: 664px;
$ico-banner-interview-book-offset-x: -384px/2;
$ico-banner-interview-book-offset-y: -664px/2;
$ico-banner-interview-book-width: 64px/2;
$ico-banner-interview-book-height: 64px/2;
$ico-banner-interview-book-total-width: 888px/2;
$ico-banner-interview-book-total-height: 760px/2;
$ico-banner-interview-book-image: '~sp_common.png';
$ico-banner-interview-book: (384px/2, 664px/2, -384px/2, -664px/2, 64px/2, 64px/2, 888px/2, 760px/2, '~sp_common.png', 'ico-banner-interview-book', );
$ico-interview_like-name: 'ico-interview_like';
$ico-interview_like-x: 640px;
$ico-interview_like-y: 664px;
$ico-interview_like-offset-x: -640px/2;
$ico-interview_like-offset-y: -664px/2;
$ico-interview_like-width: 48px/2;
$ico-interview_like-height: 48px/2;
$ico-interview_like-total-width: 888px/2;
$ico-interview_like-total-height: 760px/2;
$ico-interview_like-image: '~sp_common.png';
$ico-interview_like: (640px/2, 664px/2, -640px/2, -664px/2, 48px/2, 48px/2, 888px/2, 760px/2, '~sp_common.png', 'ico-interview_like', );
$spritesheet-width: 888px/2;
$spritesheet-height: 760px/2;
$spritesheet-image: '~sp_common.png';
$spritesheet-sprites: ($ico_banner_interview_latte, $ico_banner_left, $ico_banner_right, $ico_filter_up, $ico_header_close, $ico_header_logo, $ico_header_search, $ico_interview_star, $ico_modal_notice_item, $ico_my_menu_arrow, $ico_page_back, $ico_page_next, $ico_post_bookmark_on, $ico_post_bookmark, $ico_post_comment, $ico_profile_edit, $ico_with_code, $ico-banner-interview_like, $ico-banner-interview-book, $ico-interview_like, );
$spritesheet: (888px/2, 760px/2, '~sp_common.png', $spritesheet-sprites, );


// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size($sprite) {
    background-size: $spritesheet-width $spritesheet-height;
}  

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-size($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
