@charset "utf-8";

// font
$G-font-family-base: Helvetica, "Apple SD Gothic Neo", sans-serif;
$G-font-size-base: 16px;
$G-line-height-base: 1.25;

// color
$G-body-background-color: #fff;
$G-primary-color: #0099ff;

// device width
$G-width-tablet: 768px;
$G-width-pc: 1024px;

// TodoList
$list-todo-border-radius: 8px;
