@charset "UTF-8";
@import "../utils";

.header {
  @include clearFix;

  position: relative;
  height: 59px;
  padding: 0 22px;
  background-color: #3d3d3d;
  border-bottom: 1px solid #555;

  .logo_wrap {
    float: left;

    .logo {
      display: block;
      font-size: 24px;
      font-weight: 800;
      line-height: 60px;
      color: #fff;
      font-family: 'JetBrains Mono', 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, sans-serif;

      &:before {
        @include sprite($ico-header-logo);

        display: inline-block;
        margin-right: 4px;
        vertical-align: top;
        content: '';
      }
    }
  }

  .tab_wrap {
    @include clearFix;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .tab_item {
      float: left;
      margin: 10px 8px;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #fff;

      &[aria-selected="true"] {
        color:#242424;
        background-color: #6CFA94;
        border-radius: 8px;
      }
    }
  }

  .side_wrap {
    float: right;

    .btn_search {
      display: inline-block;
      vertical-align: top;
      padding: 14px 6px;

      &:before {
        @include sprite($ico-header-search);
        display: block;
        content: '';
      }
    }

    .btn_mypage {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      padding: 14px;

      .img_wrap {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #000;
        overflow: hidden;

        .profile_img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .btn_close {
      display: inline-block;
      vertical-align: top;

      &:before {
        @include sprite($ico_header_close);
        display: block;
        content: '';
      }
    }
  }

  &.type_sub {
    background-color: #242424;
  }
}