@charset "UTF-8";
@import "../utils";

.pagination_wrap {
    display: flex;
    justify-content: center;
    padding: 96px 0;
}

.page_item {
    
    width: 48px;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 8px;
    text-align: center;

    &[aria-selected="true"] {
        background-color: #6CFA94;
        color: #242424;
    }
}

.page_back {
    @include sprite($ico_page_back);
    margin-right: 16px
}

.page_next {
    @include sprite($ico_page_next);
    margin-left: 16px;
}